body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    height: 100%;
    background-color: rgb(255, 234, 198);
}


.title {
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid;
    border-color: rgb(162, 0, 255);
    padding: 8px 8px 8px 51px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-name {
    color: rgb(236, 225, 225);
}

.autor {
    color: rgb(184, 184, 184);
    padding-right: 8px;

}

.header {
    background-color: rgb(44, 44, 44);
    color: rgb(184, 184, 184);
    font-weight: 700;
    margin: 0px;
    padding: 8px;
    max-height: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.intro-container {
    max-width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;

}

.introtxt {
    font-weight: 530;
    text-align: justify;
}

a:link {
    text-decoration: none;
}

.warlo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-bottom: solid rgb(162, 0, 255) 2px;
    border-top: solid rgb(162, 0, 255) 2px;
    background-color: black;
    color: white;
    margin: 0px;
}

#subtxt {
    font-size: medium;
}

.marg {
    margin-top: 8px;
    margin-bottom: 8px;
}

.wwar {
    font-weight: 530;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 8px 60px 8px 60px;
}

.titles {
    padding-left: 60px;
    padding-bottom: 2px;
    border-bottom: solid rgb(162, 0, 255) 1px;
}

.introduction {
    margin: 0 auto;
    max-width: 2000px;
}